# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List of popular languages for Data Science
- List of common used libraries
- List of Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Keras

| Data Science Tools |
|--------------------|
| Apache Spark |
| RStudio |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

## Author

Almukhanova Aya